<section class="section">
       <div class="nav-section">
            <article class="article-section">
                <p> <img  src="/img/perfil-de-usuario 3.png" alt=""> meu perfil</p>
            </article>
            <article class="article-section">
           <a style="text-decoration: none; color: #fff;" href="/elderly/remedio"> <p> <img src="/img/capsule 1.png" alt=""> Remédios</p></a>
            </article>
            <article class="article-section">
                <p> <img src="/img/chat-dots 1.png" alt=""> Chat</p>
            </article>
            <article class="article-section">
                <p> <img src="/img/funcionarios 2.png" alt=""> Créditos</p>
            </article>
       </div>
       {{!-- {{#each elderlys}} --}}

       <div class="sectio-menu">
                <div class="lala-search">
                    <h1>Busque aqui</h1>
                    <img src="/img/filtro 2.png " alt="">
            </div>
                <div class="lili-container">
                    <div class="section-contem">
                        <div><img style="width: 143px; height: 128px;" src="img/Lucas.png" alt=""></div>
                        <div>
                            <h1>Lucas matheus</h1>
                            <p>Ouro Preto - Minas Gerais</p>
                            <br>
                            Horário - Integral
                        </div>
                    </div>
                   
                    <div class="section-descrit">
                         <button type="submit"><a class="linl-desc" href="/elderly/perfil">descrição</a></button>
                    </div>
                </div>

                <div class="lili-container">
                    <div class="section-contem">
                        <div><img style="width: 143px; height: 128px;"  src="img/gata.png" alt=""></div>
                        <div>
                            <h1>Aline Albuquerque</h1>
                            <p>Campinas - São Paulo</p>
                            <br>
                            Horário - Integral
                        </div>
                    </div>
                   
                    <div class="section-descrit">
                         <button type="submit"><a class="linl-desc" href="/elderly/perfil">descrição</a></button>
                    </div>
                </div>

                <div class="lili-container">
                    <div class="section-contem">
                        <div><img style="width: 143px; height: 128px;" src="img/Glauber.png" alt=""></div>
                        <div>
                            <h1>Glauber Luigi</h1>
                            <p>Porto Alegre - Rio Grande do Sul</p>
                            <br>
                            Horário - Meio-Período
                        </div>
                    </div>
                   
                    <div class="section-descrit">
                         <button type="submit"><a class="linl-desc" href="/elderly/perfil">descrição</a></button>
                    </div>
                </div>

       </div>
       {{!-- {{/each}} --}}

      
       <div class="nav-section-left">
        <article class="article-section-sc">
            <p style="display: flex; flex-direction: column; align-items: center;"> <img src="/img/perfil-de-usuario 3.png" alt=""> Configursções</p>
        </article>
        <article class="article-section-sc">
            <p>Modo Escuro</p>
        </article>
        <article class="article-section-sc">
            <p>Linguagem: PT-BR</p>
        </article>
        <article class="article-section-sc">
            <p>Torne-se Premium!</p>
        </article>
       
       </div>
   </section>


