<div class="container">

       

        <section class="back-img">

           <div class="img">
            <img style="width: 100vw; height: 74vh;" src="img/idoso-velho-com-jovem-neto-e-avo-1645023277723_v2_4x3 1.png" alt="">
           </div>

            <div class="text">
                <p>Conheça nossa empresa com mais detalhes
                    Clicando no botão abaixo!</p>

                    <div >
                        <button class="btn" type="submit">Saiba mais</button>
                    </div>
            </div>
        </section>

        <section class="caixa-mae">
                
        <section class="apresentacao">
            <div class="quem">
                <h2>Quem somos?</h2>
            </div>

            <div class="video-p">
                <video width="1120" height="740" type="video/mp4" controls="controls" src="assets/Untitled Video.MP4"></video>
            </div>

            <div class="caixas-container">
                <div class="caixas">
                    <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_261_114)">
                        <path d="M61.25 4.375C62.4103 4.375 63.5231 4.83594 64.3436 5.65641C65.1641 6.47688 65.625 7.58968 65.625 8.75V61.25C65.625 62.4103 65.1641 63.5231 64.3436 64.3436C63.5231 65.1641 62.4103 65.625 61.25 65.625H8.75C7.58968 65.625 6.47688 65.1641 5.65641 64.3436C4.83594 63.5231 4.375 62.4103 4.375 61.25V8.75C4.375 7.58968 4.83594 6.47688 5.65641 5.65641C6.47688 4.83594 7.58968 4.375 8.75 4.375H61.25ZM8.75 0C6.42936 0 4.20376 0.921872 2.56282 2.56282C0.921872 4.20376 0 6.42936 0 8.75L0 61.25C0 63.5706 0.921872 65.7962 2.56282 67.4372C4.20376 69.0781 6.42936 70 8.75 70H61.25C63.5706 70 65.7962 69.0781 67.4372 67.4372C69.0781 65.7962 70 63.5706 70 61.25V8.75C70 6.42936 69.0781 4.20376 67.4372 2.56282C65.7962 0.921872 63.5706 0 61.25 0L8.75 0Z" fill="white"/>
                        <path d="M47.9938 21.7438C48.6061 21.1368 49.4326 20.7952 50.2947 20.7929C51.1568 20.7905 51.9853 21.1275 52.6009 21.731C53.2165 22.3346 53.5699 23.1562 53.5845 24.0182C53.5992 24.8802 53.2741 25.7133 52.6794 26.3375L35.2144 48.1688C34.9142 48.4921 34.552 48.7515 34.1492 48.9316C33.7465 49.1117 33.3116 49.2087 32.8705 49.2169C32.4294 49.2251 31.9912 49.1442 31.5821 48.9791C31.173 48.8141 30.8013 48.5682 30.4894 48.2563L18.9175 36.68C18.5951 36.3796 18.3366 36.0174 18.1572 35.6149C17.9779 35.2124 17.8815 34.7779 17.8737 34.3373C17.8659 33.8967 17.947 33.4591 18.112 33.0505C18.277 32.6419 18.5226 32.2708 18.8342 31.9592C19.1458 31.6476 19.517 31.402 19.9255 31.237C20.3341 31.0719 20.7717 30.9909 21.2123 30.9987C21.6529 31.0064 22.0874 31.1029 22.4899 31.2822C22.8924 31.4616 23.2546 31.7201 23.555 32.0425L32.7163 41.1994L47.9106 21.84C47.9378 21.8061 47.9626 21.774 47.9938 21.7438Z" fill="white"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_261_114">
                        <rect width="70" height="70" rx="20" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg>                    
                    <h2>7 DIAS GRÁTIS</h2>
                </div>
                <div class="caixas">
                    <svg width="70" height="70" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M26.69 7.95C21.9279 9.26242 17.1982 10.6895 12.505 12.23C12.0764 12.3688 11.6955 12.6252 11.4055 12.97C11.1156 13.3147 10.9283 13.734 10.865 14.18C8.095 34.965 14.495 50.13 22.13 60.12C25.3626 64.392 29.217 68.1554 33.565 71.285C35.295 72.505 36.825 73.385 38.03 73.95C38.63 74.235 39.12 74.425 39.495 74.54C39.659 74.5975 39.8281 74.6394 40 74.665C40.1699 74.6374 40.3371 74.5956 40.5 74.54C40.88 74.425 41.37 74.235 41.97 73.95C43.17 73.385 44.705 72.5 46.435 71.285C50.7829 68.1553 54.6374 64.3919 57.87 60.12C65.505 50.135 71.905 34.965 69.135 14.18C69.0723 13.7338 68.8852 13.3142 68.5951 12.9694C68.3051 12.6245 67.9239 12.3683 67.495 12.23C64.24 11.165 58.745 9.43 53.31 7.955C47.76 6.45 42.655 5.335 40 5.335C37.35 5.335 32.24 6.445 26.69 7.95ZM25.36 2.8C30.785 1.325 36.55 0 40 0C43.45 0 49.215 1.325 54.64 2.8C60.19 4.3 65.785 6.075 69.075 7.15C70.4505 7.60426 71.67 8.43733 72.5934 9.55351C73.5168 10.6697 74.1066 12.0237 74.295 13.46C77.275 35.845 70.36 52.435 61.97 63.41C58.4122 68.1049 54.17 72.2393 49.385 75.675C47.7304 76.8639 45.9774 77.9094 44.145 78.8C42.745 79.46 41.24 80 40 80C38.76 80 37.26 79.46 35.855 78.8C34.0226 77.9094 32.2695 76.8639 30.615 75.675C25.8301 72.2392 21.5879 68.1048 18.03 63.41C9.64 52.435 2.725 35.845 5.705 13.46C5.89343 12.0237 6.48321 10.6697 7.40658 9.55351C8.32995 8.43733 9.54945 7.60426 10.925 7.15C15.701 5.58405 20.514 4.13362 25.36 2.8Z" fill="white"/>
                        <path d="M54.27 25.73C54.5028 25.9622 54.6875 26.2381 54.8135 26.5418C54.9396 26.8455 55.0045 27.1711 55.0045 27.5C55.0045 27.8288 54.9396 28.1544 54.8135 28.4581C54.6875 28.7618 54.5028 29.0377 54.27 29.27L39.27 44.27C39.0378 44.5028 38.7619 44.6875 38.4582 44.8135C38.1544 44.9395 37.8288 45.0044 37.5 45.0044C37.1711 45.0044 36.8455 44.9395 36.5418 44.8135C36.2381 44.6875 35.9622 44.5028 35.73 44.27L28.23 36.77C27.9975 36.5375 27.8132 36.2616 27.6874 35.9579C27.5616 35.6542 27.4968 35.3287 27.4968 35C27.4968 34.6712 27.5616 34.3457 27.6874 34.042C27.8132 33.7383 27.9975 33.4624 28.23 33.23C28.4624 32.9975 28.7384 32.8131 29.0421 32.6873C29.3458 32.5615 29.6713 32.4968 30 32.4968C30.3287 32.4968 30.6542 32.5615 30.9579 32.6873C31.2616 32.8131 31.5375 32.9975 31.77 33.23L37.5 38.965L50.73 25.73C50.9622 25.4971 51.2381 25.3124 51.5418 25.1864C51.8455 25.0604 52.1711 24.9955 52.5 24.9955C52.8288 24.9955 53.1544 25.0604 53.4582 25.1864C53.7619 25.3124 54.0378 25.4971 54.27 25.73Z" fill="white"/>
                        </svg>                    
                    <h2>SEGURANÇA</h2>
                </div>
                <div class="caixas">
                    <svg width="70" height="70" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M25 40C25 41.3261 24.4732 42.5979 23.5355 43.5355C22.5979 44.4732 21.3261 45 20 45C18.6739 45 17.4021 44.4732 16.4645 43.5355C15.5268 42.5979 15 41.3261 15 40C15 38.6739 15.5268 37.4021 16.4645 36.4645C17.4021 35.5268 18.6739 35 20 35C21.3261 35 22.5979 35.5268 23.5355 36.4645C24.4732 37.4021 25 38.6739 25 40ZM45 40C45 41.3261 44.4732 42.5979 43.5355 43.5355C42.5979 44.4732 41.3261 45 40 45C38.6739 45 37.4021 44.4732 36.4645 43.5355C35.5268 42.5979 35 41.3261 35 40C35 38.6739 35.5268 37.4021 36.4645 36.4645C37.4021 35.5268 38.6739 35 40 35C41.3261 35 42.5979 35.5268 43.5355 36.4645C44.4732 37.4021 45 38.6739 45 40ZM60 45C61.3261 45 62.5979 44.4732 63.5355 43.5355C64.4732 42.5979 65 41.3261 65 40C65 38.6739 64.4732 37.4021 63.5355 36.4645C62.5979 35.5268 61.3261 35 60 35C58.6739 35 57.4021 35.5268 56.4645 36.4645C55.5268 37.4021 55 38.6739 55 40C55 41.3261 55.5268 42.5979 56.4645 43.5355C57.4021 44.4732 58.6739 45 60 45Z" fill="white"/>
                        <path d="M10.825 79.015L10.925 78.995C20.075 77.18 25.665 74.785 28.265 73.47C32.0929 74.491 36.0383 75.0053 40 75C62.09 75 80 59.33 80 40C80 20.67 62.09 5 40 5C17.91 5 0 20.67 0 40C0 48.8 3.715 56.85 9.85 63C9.42079 66.9505 8.54176 70.839 7.23 74.59L7.215 74.645C6.84222 75.7193 6.43534 76.7815 5.995 77.83C5.6 78.76 6.365 79.8 7.36 79.64C8.51831 79.4504 9.67346 79.2421 10.825 79.015ZM14.825 63.475C14.895 62.743 14.8027 62.0045 14.5547 61.3123C14.3067 60.62 13.909 59.991 13.39 59.47C8.09 54.15 5 47.34 5 40C5 24.04 20.02 10 40 10C59.98 10 75 24.04 75 40C75 55.965 59.98 70 40 70C36.4755 70.0051 32.9656 69.5479 29.56 68.64C28.3699 68.3211 27.1039 68.4529 26.005 69.01C24.07 69.99 19.805 71.86 12.835 73.475C13.8074 70.2107 14.4736 66.8629 14.825 63.475Z" fill="white"/>
                        </svg>                    
                    <h2>CHAT FREE</h2>                
                </div>
            </div>
            
        </section>

        <section class="penul">
            <div class="box-container">
                <div class="c1">
                    <img style="width: 700px; height: 700px;" src="img/Ellipse 10.png" alt="">
                </div>
                <div class="c2">
                    <h2>Aurora VIP</h2>
                    <p>Como um bônus, temos o plano premium onde temos a aba de remédios, em parceria  com as farmácias como a Drogasil, nós fornecemos descontos variados para os nossos clientes de acordo com cada tipo de remédio, além de fornecer  um apoio psicológico de qualidade pois a saúde mental é tão importante quanto a saúde física.</p>
                </div>
            </div>
        </section>

        <section class="final-d">
            <div class="img-footer">
                <img style="width: 4.5rem;" src="img/Whatsapp__1_-removebg-preview 1.png" alt="">
                <img style="width: 4.5rem;" src="img/Instagram__1_-removebg-preview 1.png" alt="">
                <img style="width: 4.5rem;" src="img/LinkedIn-removebg-preview 1.png" alt="">
            </div>
            <p class="footer-d">Todos os direitos reservados.
                Desde 2023</p>
        </section>
        </section>

    </div>

       