 <section class="container-login">
        <section class="section-login">
            <h1 class="linda">LOGIN</h1>
            <div>
    
                <form action="/login" method="post">
                    <div class="receb">
                        <label for="email">E-mail:</label>
                        <input type="text" name="email" placeholder="Insira seu e-mail">
                    </div>
    
                    <div class="receb">
                        <label for="password">Senha:</label>
                        <input type="password" name="password" placeholder="Insira sua senha">
                    </div>

    
                    <button class="senha">Esqueceu sua senha?</button>
    
                    <button class="btn-login">Sign In</button>
                </form>
                <div  class="pl">Ainda não tem uma conta?<button class="btn-conta">Crie agora</button></div>
            </div>
        </section>
        </section>