<div class="perfil-container">
        <section class="lado1">

            <div class="perfil-img">
                <div> <img style="width: 500px; height: 500px;" src="img/gata.png" alt=""></div>
               
                <div class="stars">
                <svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_253_181)">
                    <path d="M16.9313 72.389C15.1219 73.3171 13.0688 71.6905 13.4344 69.614L17.325 47.4421L0.810973 31.7108C-0.731214 30.239 0.0703481 27.5483 2.13754 27.2577L25.0969 23.9952L35.3344 3.7124C36.2578 1.88428 38.7563 1.88428 39.6797 3.7124L49.9172 23.9952L72.8766 27.2577C74.9438 27.5483 75.7454 30.239 74.1985 31.7108L57.6891 47.4421L61.5797 69.614C61.9453 71.6905 59.8922 73.3171 58.0828 72.389L37.5 61.814L16.9313 72.389Z" fill="black"/>
                    <g clip-path="url(#clip1_253_181)">
                    <path d="M87.9313 72.389C86.1219 73.3171 84.0688 71.6905 84.4344 69.614L88.325 47.4421L71.811 31.7108C70.2688 30.239 71.0703 27.5483 73.1375 27.2577L96.0969 23.9952L106.334 3.7124C107.258 1.88428 109.756 1.88428 110.68 3.7124L120.917 23.9952L143.877 27.2577C145.944 27.5483 146.745 30.239 145.198 31.7108L128.689 47.4421L132.58 69.614C132.945 71.6905 130.892 73.3171 129.083 72.389L108.5 61.814L87.9313 72.389Z" fill="black"/>
                    </g>
                    </g>
                    <defs>
                    <clipPath id="clip0_253_181">
                    <rect width="75" height="75" fill="white"/>
                    </clipPath>
                    <clipPath id="clip1_253_181">
                    <rect width="75" height="75" fill="white" transform="translate(71)"/>
                    </clipPath>
                    </defs>
                </svg>
    
                <svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_253_181)">
                    <path d="M16.9313 72.389C15.1219 73.3171 13.0688 71.6905 13.4344 69.614L17.325 47.4421L0.810973 31.7108C-0.731214 30.239 0.0703481 27.5483 2.13754 27.2577L25.0969 23.9952L35.3344 3.7124C36.2578 1.88428 38.7563 1.88428 39.6797 3.7124L49.9172 23.9952L72.8766 27.2577C74.9438 27.5483 75.7454 30.239 74.1985 31.7108L57.6891 47.4421L61.5797 69.614C61.9453 71.6905 59.8922 73.3171 58.0828 72.389L37.5 61.814L16.9313 72.389Z" fill="black"/>
                    <g clip-path="url(#clip1_253_181)">
                    <path d="M87.9313 72.389C86.1219 73.3171 84.0688 71.6905 84.4344 69.614L88.325 47.4421L71.811 31.7108C70.2688 30.239 71.0703 27.5483 73.1375 27.2577L96.0969 23.9952L106.334 3.7124C107.258 1.88428 109.756 1.88428 110.68 3.7124L120.917 23.9952L143.877 27.2577C145.944 27.5483 146.745 30.239 145.198 31.7108L128.689 47.4421L132.58 69.614C132.945 71.6905 130.892 73.3171 129.083 72.389L108.5 61.814L87.9313 72.389Z" fill="black"/>
                    </g>
                    </g>
                    <defs>
                    <clipPath id="clip0_253_181">
                    <rect width="75" height="75" fill="white"/>
                    </clipPath>
                    <clipPath id="clip1_253_181">
                    <rect width="75" height="75" fill="white" transform="translate(71)"/>
                    </clipPath>
                    </defs>
                </svg>
    
                <svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_253_181)">
                    <path d="M16.9313 72.389C15.1219 73.3171 13.0688 71.6905 13.4344 69.614L17.325 47.4421L0.810973 31.7108C-0.731214 30.239 0.0703481 27.5483 2.13754 27.2577L25.0969 23.9952L35.3344 3.7124C36.2578 1.88428 38.7563 1.88428 39.6797 3.7124L49.9172 23.9952L72.8766 27.2577C74.9438 27.5483 75.7454 30.239 74.1985 31.7108L57.6891 47.4421L61.5797 69.614C61.9453 71.6905 59.8922 73.3171 58.0828 72.389L37.5 61.814L16.9313 72.389Z" fill="black"/>
                    <g clip-path="url(#clip1_253_181)">
                    <path d="M87.9313 72.389C86.1219 73.3171 84.0688 71.6905 84.4344 69.614L88.325 47.4421L71.811 31.7108C70.2688 30.239 71.0703 27.5483 73.1375 27.2577L96.0969 23.9952L106.334 3.7124C107.258 1.88428 109.756 1.88428 110.68 3.7124L120.917 23.9952L143.877 27.2577C145.944 27.5483 146.745 30.239 145.198 31.7108L128.689 47.4421L132.58 69.614C132.945 71.6905 130.892 73.3171 129.083 72.389L108.5 61.814L87.9313 72.389Z" fill="black"/>
                    </g>
                    </g>
                    <defs>
                    <clipPath id="clip0_253_181">
                    <rect width="75" height="75" fill="white"/>
                    </clipPath>
                    <clipPath id="clip1_253_181">
                    <rect width="75" height="75" fill="white" transform="translate(71)"/>
                    </clipPath>
                    </defs>
                </svg>
    
                <svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_253_181)">
                    <path d="M16.9313 72.389C15.1219 73.3171 13.0688 71.6905 13.4344 69.614L17.325 47.4421L0.810973 31.7108C-0.731214 30.239 0.0703481 27.5483 2.13754 27.2577L25.0969 23.9952L35.3344 3.7124C36.2578 1.88428 38.7563 1.88428 39.6797 3.7124L49.9172 23.9952L72.8766 27.2577C74.9438 27.5483 75.7454 30.239 74.1985 31.7108L57.6891 47.4421L61.5797 69.614C61.9453 71.6905 59.8922 73.3171 58.0828 72.389L37.5 61.814L16.9313 72.389Z" fill="black"/>
                    <g clip-path="url(#clip1_253_181)">
                    <path d="M87.9313 72.389C86.1219 73.3171 84.0688 71.6905 84.4344 69.614L88.325 47.4421L71.811 31.7108C70.2688 30.239 71.0703 27.5483 73.1375 27.2577L96.0969 23.9952L106.334 3.7124C107.258 1.88428 109.756 1.88428 110.68 3.7124L120.917 23.9952L143.877 27.2577C145.944 27.5483 146.745 30.239 145.198 31.7108L128.689 47.4421L132.58 69.614C132.945 71.6905 130.892 73.3171 129.083 72.389L108.5 61.814L87.9313 72.389Z" fill="black"/>
                    </g>
                    </g>
                    <defs>
                    <clipPath id="clip0_253_181">
                    <rect width="75" height="75" fill="white"/>
                    </clipPath>
                    <clipPath id="clip1_253_181">
                    <rect width="75" height="75" fill="white" transform="translate(71)"/>
                    </clipPath>
                    </defs>
                </svg>
    
                <svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_253_185)">
                    <path d="M13.4344 69.6094C13.0688 71.6906 15.1219 73.3172 16.9313 72.3891L37.5094 61.8141L58.0828 72.3891C59.8922 73.3172 61.9453 71.6906 61.5797 69.6141L57.6891 47.4422L74.1985 31.7109C75.7454 30.2391 74.9485 27.5484 72.8766 27.2578L49.9172 23.9953L39.6797 3.71249C39.4847 3.30134 39.177 2.95397 38.7924 2.71074C38.4078 2.4675 37.9621 2.33838 37.5071 2.33838C37.052 2.33838 36.6063 2.4675 36.2217 2.71074C35.8371 2.95397 35.5294 3.30134 35.3344 3.71249L25.0969 24L2.13754 27.2625C0.0703481 27.5531 -0.731214 30.2437 0.810973 31.7156L17.325 47.4469L13.4344 69.6187V69.6094ZM36.4266 56.6391L19.1485 65.5172L22.4016 46.9687C22.4778 46.5418 22.448 46.1026 22.3148 45.6899C22.1815 45.2771 21.949 44.9034 21.6375 44.6016L8.01566 31.6172L27.0094 28.9172C27.4027 28.8578 27.7758 28.7039 28.0966 28.4688C28.4174 28.2337 28.6765 27.9243 28.8516 27.5672L37.5 10.4203L46.1578 27.5672C46.333 27.9243 46.592 28.2337 46.9128 28.4688C47.2337 28.7039 47.6067 28.8578 48 28.9172L66.9938 31.6125L53.3719 44.5969C53.0597 44.8992 52.8267 45.2737 52.6935 45.6873C52.5602 46.101 52.5308 46.541 52.6078 46.9687L55.861 65.5172L38.5828 56.6391C38.2487 56.4668 37.8783 56.3769 37.5024 56.3769C37.1265 56.3769 36.7607 56.4668 36.4266 56.6391Z" fill="black"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_253_185">
                    <rect width="75" height="75" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
            </div>
            </div>
    
           
    
        </section>


        <section class="lado2">
            <div class="container-box">
                <div class="start">
                    <h2>Aline Alburqueque</h2>
                    <h4>Campinas - São Paulo</h4>
    
                    <button class="idosos">2 idosos</button>
                </div>
    
                <div class="btns">
                    <button class="btn-edit">Editar</button>
                    <button class="btn-delete">Excluir</button>
                </div>
            </div>
            
            <div class="meio">
                <p>
                    <svg width="65" height="65" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_253_153)">
                        <path d="M29.3813 32.0186C31.3344 32.0186 33.0813 30.5061 33.0813 28.3311C33.0813 25.7311 31.4344 24.4873 29.4563 24.4873C27.625 24.4873 25.8063 25.6967 25.8063 28.2686C25.8063 30.8217 27.5031 32.0186 29.3813 32.0186Z" fill="black"/>
                        <path d="M10.9375 0C11.3519 0 11.7493 0.16462 12.0424 0.457646C12.3354 0.750671 12.5 1.1481 12.5 1.5625V3.125H37.5V1.5625C37.5 1.1481 37.6646 0.750671 37.9576 0.457646C38.2507 0.16462 38.6481 0 39.0625 0C39.4769 0 39.8743 0.16462 40.1674 0.457646C40.4604 0.750671 40.625 1.1481 40.625 1.5625V3.125H43.75C45.4076 3.125 46.9973 3.78348 48.1694 4.95558C49.3415 6.12769 50 7.7174 50 9.375V43.75C50 45.4076 49.3415 46.9973 48.1694 48.1694C46.9973 49.3415 45.4076 50 43.75 50H6.25C4.5924 50 3.00269 49.3415 1.83058 48.1694C0.65848 46.9973 0 45.4076 0 43.75V9.375C0 7.7174 0.65848 6.12769 1.83058 4.95558C3.00269 3.78348 4.5924 3.125 6.25 3.125H9.375V1.5625C9.375 1.1481 9.53962 0.750671 9.83265 0.457646C10.1257 0.16462 10.5231 0 10.9375 0ZM42.0438 9.375H7.95312C7.01562 9.375 6.25 10.075 6.25 10.9375V14.0625C6.25 14.925 7.0125 15.625 7.95312 15.625H42.0469C42.9844 15.625 43.75 14.925 43.75 14.0625V10.9375C43.75 10.075 42.9875 9.375 42.0438 9.375ZM29.175 39.9688C33.1063 39.9688 35.425 36.6344 35.425 30.9938C35.425 24.95 32.9844 22.6562 29.3219 22.6562C26.4281 22.6562 23.7062 24.7563 23.7062 28.3094C23.7062 31.9344 26.2812 33.8406 28.9438 33.8406C31.275 33.8406 32.7875 32.6656 33.2656 31.3719H33.35C33.3375 35.4844 31.9094 38.1344 29.2719 38.1344C27.1969 38.1344 26.1219 36.7281 25.9906 35.5719H23.8531C24 37.5719 25.7094 39.9656 29.175 39.9656V39.9688ZM20.1438 22.9844H18.1656C16.7479 23.7385 15.3776 24.5786 14.0625 25.5V27.6719C15.2344 26.8687 17.0906 25.7344 17.9937 25.2437H18.0312V39.65H20.1406V22.9813L20.1438 22.9844Z" fill="black"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_253_153">
                        <rect width="50" height="50" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                </p>
                <p class="p-desc">
                Aline Albuquerque tem disponibilidade em tempo integral, 
                para cuidar de no máximo 2 idosos.
                </p>    
            </div>

            <div class="final">
                <h2>Olá, meu nome é Aline Albuquerque</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A quae repudiandae eum, reiciendis aliquid nostrum ullam nam tempore aspernatur dignissimos? Expedita non nihil distinctio quas rerum assumenda temporibus sapiente incidunt! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique at sed repellendus quae magni possimus fugiat esse dolore adipisci consectetur voluptatum reiciendis nesciunt, tempore cupiditate facere eaque beatae consequuntur numquam.</p>
            </div>

            <button class="btnf">Entrar em contato</button>
        </section>
    </div>