 <div class="container-cadastro">
        <section  class="tela-cadastro">
            <div class="text-cadastro">
                <div class="cansei">
                    <h1>Bem Vindo รก</h1>
                    <img src="img/Aurora_Elderly-removebg-preview 2.png" alt="">
                    <p></p>
                </div>
    
                <div class="chega">
                     <button class="chega-btn"  type="submit"><a style="text-decoration: none; color: black;" href="/register">Quero me cadastrar como Cuidador</a></button>

        <button class="chega-btn"  type="submit"><a style="text-decoration: none; color: black;" href="#">Quero me cadastrar como Cliente( Idoso)</a></button>
                   
                </div>
    
                <div>
                    <p>Todos os direitos reservados.
                        Desde 2023</p>
                </div>
    
            </div>
        </section>
    </div>
