
     <section class="tela-login">
        <div class="img">
            <img src="img/9ea27ceb8918a76cc60cec48790386f1-754x424 2.png" alt="">
        </div>

        <div class="login-container">
            <h2>Tela de Cadastro do  Fuuncionário</h2>
            <div class="box-container">
                <form  class="form" action="/register" method="post">
                    <div class="form-nu">
                        <label for="name">Nome:</label>
                        <input type="text" name="name">
                    </div>
                    <div class="form-nu">
                        <label for="email">E-mail:</label>
                        <input type="email" name="email">
                    </div>
                    <div class="form-nu">
                        <label for="cpf">CPF:</label>
                        <input type="text" name="cpf">
                    </div>
                    <div class="form-nu">
                        <label for="password">Senha:</label>
                        <input  type="password" name="password">
                    </div>

                    <div class="form-nu">
                        <label for="confirmpassword">Senha:</label>
                        <input  type="password" name="confirmpassword">
                    </div>

                    <input class="btn-cont" type="submit" value="Continuar">
                </form>
            </div>

          
        </div>
    </section>
        
