<section class="section">
       <div class="nav-section">
            <article class="article-section">
                <p> <img src="/img/perfil-de-usuario 3.png" alt=""> meu perfil</p>
            </article>
            <article class="article-section">
           <a href=""> <p> <img src="/img/capsule 1.png" alt=""> Remédios</p></a>
            </article>
            <article class="article-section">
                <p> <img src="/img/chat-dots 1.png" alt=""> Chat</p>
            </article>
            <article class="article-section">
                <p> <img src="/img/funcionarios 2.png" alt=""> Créditos</p>
            </article>
       </div>
       {{!-- {{#each elderlys}} --}}

       <div class="sectio-menu">
                <div class="section-search">
                    <h1>Busque aqui</h1>
                    <img src="/img/filtro 2.png " alt="">
            </div>
                <div class="section-container">
                    <div class="section-contem">
                        <div><img src="/img/Rectangle 70.png" alt=""></div>
                        <div style="display: flex; flex-direction: column; ">
                            <h1>Atorvastatina </h1>
                            <p style="width:90%;">Desenvolvida em 1985, a atorvastatina só entrou no mercado em 1997, e é considerada um dos medicamentos mais vendidos de todos os tempos. O fármaco é utilizado para baixar os níveis de colesterol (LDL) no sangue e prevenir eventos cardiovasculares. É importante que você faça o uso racional desse remédio, ou seja, utilize-o de forma apropriada, na dose certa e pelo tempo determinado pelo seu médico.</p>
                            
                        </div>
                    </div>
                   
                    <div  class="section-descrit">
                         <h1>R$ 29,90</h1>
                    </div>
                </div>

                <div class="section-container">
                    <div class="section-contem">
                        <div><img src="/img/Rectangle 70.png" alt=""></div>
                        <div style="display: flex; flex-direction: column; ">
                            <h1>Alendronato</h1>
                            <p>O alendronato de sódio é indicado para o tratamento da osteoporose em mulheres após a menopausa para prevenir fraturas, inclusive do quadril e da coluna (fraturas por compressão vertebral). O alendronato de sódio é indicado para o tratamento da osteoporose em homens para prevenir fraturas.</p>
                           
                        </div>
                    </div>
                   
                    <div class="section-descrit">
                        <h1>R$ 24,90 </h1>
                    </div>
                </div>

                <div class="section-container">
                    <div class="section-contem">
                        <div><img src="/img/Rectangle 68.png" alt=""></div>
                        <div style="display: flex; flex-direction: column; ">
                            <h1> Captopril </h1>
                            <p>O captopril é indicado para tratar pacientes com: Hipertensão; Insuficiência cardíaca congestiva (usado com outros medicamentos diuréticos e digitálicos); Infarto do miocárdio; Nefropatia diabética (doença renal causada por diabetes).</p>
                            
                        </div>
                    </div>
                   
                    <div class="section-descrit">
                         <h1>R$ 25,19</h1>
                    </div>
                </div>

       </div>
       {{!-- {{/each}} --}}

      
       <div class="nav-section-left">
        <article class="article-section">
            <p> <img src="/img/perfil-de-usuario 3.png" alt=""> Configursções</p>
        </article>
        <article class="article-section">
            <p>Modo Escuro</p>
        </article>
        <article class="article-section">
            <p>Linguagem: PT-BR</p>
        </article>
        <article class="article-section">
            <p>Torne-se Premium!</p>
        </article>
        <article class="article-section" >
            Sair da conta
        </article>
       </div>
   </section>